asn1crypto==0.24.0
Click==7.0
cryptography==2.1.4
Django==1.11.11
enum34==1.1.6
Flask==1.1.1
Flask-Session==0.3.1
idna==2.6
ipaddress==1.0.17
itsdangerous==1.1.0
Jinja2==2.10.3
keyring==10.6.0
keyrings.alt==3.0
MarkupSafe==1.1.1
pycrypto==2.6.1
pygobject==3.26.1
python-apt==1.6.5+ubuntu0.2
python-nmap==0.6.1
pytz==2018.3
pyxdg==0.26
scapy==2.3.3
SecretStorage==2.3.1
six==1.11.0
sqlparse==0.2.4
unity-lens-photos==1.0
Werkzeug==0.16.0
