<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>
<body>
  <h1 id='h1'>
    Sign IN
  </h1>
  <div class='container'>
    <div class='row d-flex p-3'>
      <div class='col-sm-'>
          <form method="POST">
              <label for="username"> User: </label><br>
              <input type="text" name="username" id=""><br>
              <label for="password"> Password: </label><br>
              <input type="password" name="password" id="">
               <button type="submit">Submit</button>
             </form>
            <span> {{ warning }}</span>
      </div>
    </div>
  </div>
    
    
</body>
</html>